.banner {
  min-height: 55vh;
  background: url("../img/desc-3.jpg") center no-repeat;
  .banner-overlay {
    min-height: 55vh;
    background: rgba(0, 0, 0, 0.5);
    h2 {
      line-height: 48px;
      font-size: 36px;
      padding-top: 130px;
      font-weight: 700;
      text-transform: uppercase;
      color: white;
      span {
        font-family: "Satisfy", cursive;
        text-transform: none;
      }
    }
    p {
      color: white;
      font-size: 16px;
      padding-top: 10px;
    }
    button {
      background: $primary_color;
      margin-top: 30px;
      padding: 15px 20px;
      font-weight: 400;
      font-size: 20px;
      margin-bottom: 30px;
      &:hover {
        background: none;
      }
    }
  }
}
