.call-us {
  height: 200px;
  margin-top: 40px;
  background-color: $primary_color;
  font-family: "Poppins", sans-serif;

  h3 {
    margin-top: 60px;
    color: white;
    font-weight: 500;
  }
  .p-main {
    font-size: 26px;
    color: white;
  }
}
