.description {
  min-height: 500px;
  .description-text {
    h3 {
      font-size: 34px;
      line-height: 40px;
      font-weight: $secondary_weight;
      color: $theme_color;
      margin-top: 150px;
    }
    p {
      margin-top: 30px;
      font-size: 22px;
      line-height: 32px;
    }
    .description-btn1 {
      background-color: $secondary_color;
      border-color: $secondary_color;
      border-radius: 20px;
      padding: 15px 20px;
      margin-top: 20px;
      font-weight: $main_weight;
      font-size: $button_banner;
      margin-bottom: 10px;
      &:hover {
        background-color: white;
        color: $secondary_color;
        font-weight: bold;

        transition: 0.2s all;
      }
    }
    .description-btn2 {
      background-color: $theme_color;
      border-color: $theme_color;
      border-radius: 20px;
      margin-bottom: 10px;
      padding: 15px 20px;
      margin-top: 20px;
      font-weight: $main_weight;
      font-size: $button_banner;
      &:hover {
        background-color: white;
        color: $theme_color;
        font-weight: bold;

        transition: 0.2s all;
      }
    }
  }
}
