.faq {
  min-height: 500px;
  font-family: "Poppins", sans-serif;
  .accordion {
    margin-top: 50px;
    .card {
      .card-header {
        background-color: $primary_color;
      }
      .card-header button {
        font-size: 20px;
        text-decoration: none;
        color: white;
      }
      .card-body {
        line-height: 30px;
      }
    }
  }
}
