.footer {
  font-family: "Poppins", sans-serif;
  h6 {
    font-size: 20px;
  }

  .footer-container {
    background-color: #1f1f1f;
    color: white;
    a {
      color: white !important;
    }
  }
}
