.introduction {
  min-height: 300px;
  h5 {
    text-transform: uppercase;
    font-size: 22px;
    line-height: 32px;
    position: relative;
    font-weight: 400;
  }
  p {
    font-size: 22px;
    line-height: 36px;
  }
  .btn-intro {
    background-color: $secondary_color;
    border-color: $secondary_color;
    border-radius: 20px;
    font-weight: $secondary_weight;

    font-size: $button_banner;
  }
  .btn-intro1 {
    background-color: white;
    font-weight: $secondary_weight;
    border-color: $secondary_color;
    border-radius: 20px;
    color: $theme_color;
    font-size: $button_banner;
  }
}
