header {
  .bg-light {
    background-color: white !important;
  }

  .navbar-light .navbar-nav .nav-link {
    line-height: 16px;
    padding: 5px 15px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    &:hover {
      color: $primary_color;
    }
  }
  .navbar-light .navbar-nav .active > .nav-link,
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .nav-link.show,
  .navbar-light .navbar-nav .show > .nav-link {
    color: $primary_color;
  }
}
